/** Background Color **/
.bg-color,
.email-btn > span,
.social-btns-header > a:hover,
.menu-style1 nav > ul > li::before,
.theme-btn,
.close-popup,
.post-featured1 > a,
.post-thumb1 > a > i,
.post-tabs .nav > li:hover > a,
.post-tabs .nav > li.active > a,
.pagination li.active a, .pagination li a:hover,
.subscribe_widget > form > button:hover,
.slider-slidy-button > ul button:hover,
.post-thumb3 > .quick-post-share > span,
.post-style3 > .post-thumb3 > a > i,
.load-more-button > a,
.open-popup-menu,
.close-popup-menu,
.post-slidy-sec.dark .post-slidy-detail > .quick-metas .quick-post-share > span,
.post-style-wide-detail1 > a,
.quick-metas-style2 > ul > li:first-child > a,
.blog-style6 .quick-post-share > span,
.blog-info6 > .plus-btn,
.blog-btns7 > .quick-post-share > span,
.author-details-sec > a,
.blog-detail9 > a,
.blog-ticksy-vertical .slick-dots > li.slick-active > button,
.post-author-share-post > .quick-post-share > span,
.blog-style11:hover > a,
.blog-janoon-vertical .slick-dots > li.slick-active > button,
.flat-btn,
.service:hover > i,
.service.active > i,
.our-work-thumb > ul li:first-child > a,
.team-info > span::before,
.team-info > a:hover,
.contact-lists-sec li > i,
.gallery-detail > ul > li > a,
.search_widget > form button,
.blog-info5 .quick-metas > .quick-post-share > span,
.post-detail1 > a:hover,
.post-slidy-detail > .quick-metas .quick-post-share.active > span,
.blog-fella-detail > a:hover,
.post-detail10 > a:hover,
.blog-btns7 > a:hover
{
    background-color: #ff2929;
}


/** Text Color **/
.text-color,
.logo > a > i,
.quick-topbar-link > a:hover,
.mini-post-info > h3:hover > a,
.quick-metas > ul > li > a:hover,
.post-featured-title1 > h3 > a:hover,
.post-date > a,
.admin-widget-info > span,
.about-blog-footer > span > a,
.post-detail10 > .quick-metas > ul > li > a > i,
.blog-detail11 > i,
.single-post-detail > p a,
blockquote span a,
.post-tags > span i,
.heading2 > span,
.our-work-box > span,
.error-page > h2 > span,
.comming-soon ul.countdown > li > span,
.bottom-line-soon span a,
.gallery-detail > i,
.post-detail2 > h2 > a:hover,
.top-bar.light .quick-topbar-link > a:hover,
.simple-social li a:hover,
.visited-post > h4 a:hover,
.post-detail1 > h2 a:hover,
.post-thumb1 > a > i:hover,
.post-slidy-detail > h2 > a:hover,
.post-detail4 > h2 a:hover,
.post-info10 > h2 > a:hover,
.blog-info6 > h2 a:hover,
.blog-detail9 h2 a:hover,
.blog-detail7 > h2 > a:hover,
.contact-infos > ul li span > i,
.menu-bar3 .menu-style3 > nav > ul > li:hover > a > span 
{
    color: #ff2929;
}

/** Border Color **/
.border-color,
.mini-title > h3,
.pie,
.c100 .bar,
.c100.p51 .fill,
.c100.p52 .fill,
.c100.p53 .fill,
.c100.p54 .fill,
.c100.p55 .fill,
.c100.p56 .fill,
.c100.p57 .fill,
.c100.p58 .fill,
.c100.p59 .fill,
.c100.p60 .fill,
.c100.p61 .fill,
.c100.p62 .fill,
.c100.p63 .fill,
.c100.p64 .fill,
.c100.p65 .fill,
.c100.p66 .fill,
.c100.p67 .fill,
.c100.p68 .fill,
.c100.p69 .fill,
.c100.p70 .fill,
.c100.p71 .fill,
.c100.p72 .fill,
.c100.p73 .fill,
.c100.p74 .fill,
.c100.p75 .fill,
.c100.p76 .fill,
.c100.p77 .fill,
.c100.p78 .fill,
.c100.p79 .fill,
.c100.p80 .fill,
.c100.p81 .fill,
.c100.p82 .fill,
.c100.p83 .fill,
.c100.p84 .fill,
.c100.p85 .fill,
.c100.p86 .fill,
.c100.p87 .fill,
.c100.p88 .fill,
.c100.p89 .fill,
.c100.p90 .fill,
.c100.p91 .fill,
.c100.p92 .fill,
.c100.p93 .fill,
.c100.p94 .fill,
.c100.p95 .fill,
.c100.p96 .fill,
.c100.p97 .fill,
.c100.p98 .fill,
.c100.p99 .fill,
.c100.p100 .fill
{
    border-color: #ff2929;
}