<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/e964d6e9-b67f-4e7a-8a31-a161ee163d4e/resourceGroups/ehall/providers/Microsoft.Web/sites/ehall</ResourceId>
    <ResourceGroup>ehall</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Debug</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://ehall.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>ehall.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>ehall</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <InstallAspNetCoreSiteExtension>False</InstallAspNetCoreSiteExtension>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$ehall</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="ProHallManagement.Models.DataContext" Order="1" Enabled="False">
          <Destination Path="Data Source=tcp:djserve.database.windows.net,1433;Initial Catalog=ehall;User ID=djserve@djserve.database.windows.net;Password=Dipjyoti1" Name="Data Source=tcp:djserve.database.windows.net,1433;Initial Catalog=ehall;User Id=djserve@djserve.database.windows.net;Password=Dipjyoti1;" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="ProHallManagement.Models.DataContext, ProHallManagement" MigrationConfiguration="ProHallManagement.Migrations.Configuration, ProHallManagement" Origin="Convention" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="ProHallManagement.Models.DataContext-Web.config Connection String">
      <ParameterValue>Data Source=tcp:djserve.database.windows.net,1433;Initial Catalog=ehall;User Id=djserve@djserve.database.windows.net;Password=Dipjyoti1;</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
  <ItemGroup>
    <_ConnectionStringsToInsert Include="ProHallManagement.Models.DataContext" />
  </ItemGroup>
</Project>