@model ProHallManagement.ViewModel.TotalViewModel

@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_home.cshtml";
}

<section class="banner-area">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-6 px-0">
                <div class="banner-bg">
                </div>
            </div>
            <div class="col-lg-6 align-self-center">
                <div class="banner-text">
                    <h1>explore the insight of <span>M.K. ALI HALL</span></h1>
                    <p class="py-3">Wherein herb beginning. Moved after gathering. Sea hi crate fowl man replenish place divided likeness herb one two lnetn Winged moving saw, may over.</p>
                    <a href="#" class="secondary-btn">
                        <a class="btn template-btn" style="cursor: pointer" data-toggle="modal" data-target="#exampleModal">Create Post</a>
                        <span class="flaticon-next"></span>ll
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>

<div class="search-area">
    <div class="search-bg">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">

                    <form action="#" class="d-md-flex justify-content-between">
                        <select>
                            <option value="1">All Category</option>
                            <option value="2">Part Time</option>
                            <option value="3">Full Time</option>
                            <option value="4">Remote</option>
                            <option value="5">Office Job</option>
                        </select>


                        <input type="text" placeholder="Search All" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Search Keyword'" required>
                        <button type="submit" class="template-btn">Search</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>


<section class="feature-area section-padding2">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="section-top text-center">
                    <h2>Find job by category</h2>
                    <p>Open lesser winged midst wherein may morning</p>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-4">
                <div class="single-feature mb-4 mb-lg-0">
                    <h4>UX/UI Designer</h4>
                    <p class="py-3">There spirit beginning bearing the open at own every give appear in third you sawe two boys</p>
                    <a href="#" class="secondary-btn">explore now<span class="flaticon-next"></span></a>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="single-feature mb-4 mb-lg-0">
                    <h4>web Designer</h4>
                    <p class="py-3">There spirit beginning bearing the open at own every give appear in third you sawe two boys</p>
                    <a href="#" class="secondary-btn">explore now<span class="flaticon-next"></span></a>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="single-feature">
                    <h4>Accounting and Finance</h4>
                    <p class="py-3">There spirit beginning bearing the open at own every give appear in third you sawe two boys</p>
                    <a href="#" class="secondary-btn">explore now<span class="flaticon-next"></span></a>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="category-area section-top text-center">
    <div class="container">
        <div class="row">

            <div class="row">
                <div class="col-md-12">


                    @using (Html.BeginForm("SubmitPost", "Posts", FormMethod.Post, new { enctype = "multipart/form-data" }))
                    {
                        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLabel">New message</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <form>
                                            <div class="form-group">
                                                <label for="recipient-name" class="col-form-label">Title:</label>
                                                @Html.EditorFor(m => m.Post.Title, new { @class = "form-control" })
                                            </div>

                                            <div class="form-group">
                                                <label for="message-text" class="col-form-label">Message:</label>
                                                @Html.TextAreaFor(m => m.Post.Description, new { @class = "form-control" })
                                            </div>

                                            <div class="form-group">
                                                <label for="message-text" class="col-form-label">Image:</label>
                                                @Html.TextBoxFor(m => m.File, new { @class = "form-control", type = "file" })
                                            </div>
                                        </form>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                        <button type="submit" class="btn btn-primary">Post Now</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }

                </div>
            </div>

        </div>
    </div>


</section>









<section class="employee-area section-padding">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="section-top text-center">
                    <h2>You may know this Members</h2>
                    <p>lets get into their profile to know more about them!</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="employee-slider owl-carousel">
                    <div class="single-slide d-sm-flex">
                        <div class="slide-img employee1">
                            <div class="hover-state">
                                <div class="hover-text text-center">
                                    <h3>david aron</h3>
                                    <h5>Facebook</h5>
                                </div>
                            </div>
                        </div>
                        <div class="slide-text align-self-center">
                            <i class="fa fa-quote-left"></i>
                            <p>Appear, called day. Sixth two after eve moved called winged very heaven two lights let all third gathered.</p>
                        </div>
                    </div>
                    <div class="single-slide d-sm-flex">
                        <div class="slide-img employee2">
                            <div class="hover-state">
                                <div class="hover-text text-center">
                                    <h3>david aron</h3>
                                    <h5>Twitter</h5>
                                </div>
                            </div>
                        </div>
                        <div class="slide-text align-self-center">
                            <i class="fa fa-quote-left"></i>
                            <p>Appear, called day. Sixth two after eve moved called winged very heaven two lights let all third gathered.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="blog" class="news-area section-padding3">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="section-top text-center">
                    <h2>Company latest news</h2>
                    <p>Open lesser winged midst wherein may morning</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-6">
                <div class="single-news mb-5 mb-lg-0">

                    <div class="news-img " style="background-image:url(../../Assets/images/news1.jpg)"></div>

                    <div class="news-tag">
                        <ul class="my-4">
                            <li>
                                <h5><i class="fa fa-calendar-o"></i> 20th sep, 2018</h5>
                            </li>
                            <li class="separator mx-2"><span></span></li>
                            <li>
                                <h5><i class="fa fa-folder-open-o"></i> company</h5>
                            </li>
                        </ul>
                    </div>
                    <div class="news-title">
                        <h4><a href="#">Lime recalls electric scooters over battery fire.</a></h4>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="single-news mb-5 mb-lg-0">
                    <div class="news-img " style="background-image:url(../../Assets/images/news1.jpg)"></div>                    <div class="news-tag">
                        <ul class="my-4">
                            <li>
                                <h5><i class="fa fa-calendar-o"></i> 18th sep, 2018</h5>
                            </li>
                            <li class="separator mx-2"><span></span></li>
                            <li>
                                <h5><i class="fa fa-folder-open-o"></i> company</h5>
                            </li>
                        </ul>
                    </div>
                    <div class="news-title">
                        <h4><a href="#">Apple resorts to promo deals trade to boost</a></h4>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="single-news">
                    <div class="news-img " style="background-image:url(../../Assets/images/news1.jpg)"></div>                    <div class="news-tag">
                        <ul class="my-4">
                            <li>
                                <h5><i class="fa fa-calendar-o"></i> 25th sep, 2018</h5>
                            </li>
                            <li class="separator mx-2"><span></span></li>
                            <li>
                                <h5><i class="fa fa-folder-open-o"></i> company</h5>
                            </li>
                        </ul>
                    </div>
                    <div class="news-title">
                        <h4><a href="#">Lime recalls electric scooters over battery fire.</a></h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

