@model ProHallManagement.ViewModel.TotalViewModel

@{

    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_home.cshtml";
}




<section class="block remove-top">
    <div class="row">
        <div class="col-md-12">
            <div class="post-featured-sec1">
                <ul class="post-featured-slick">
                    <li>
                        <div class="post-featured1">
                            <img src="~/Content/images/resource/f2.jpg" alt="" />
                            <div class="post-featured-infobox">
                                <div class="post-featured-title1">
                                    <h3><a href="#" title="">Work for Food Take by Passion!!</a></h3>
                                    <div class="quick-metas">
                                        <ul>
                                            <li><a href="#" title=""><i class="fa fa-heart-o"></i>284</a></li>
                                            <li><a href="#" title=""><i class="fa fa-comment-o"></i>2 Comments</a></li>
                                        </ul>
                                        <div class="quick-post-share">
                                            <span><i class="fa fa-share-alt"></i></span>
                                            <ul>
                                                <li class="gl-share"><a href="#" title=""><i class="fa fa-google"></i></a></li>
                                                <li class="tw-share"><a href="#" title=""><i class="fa fa-twitter"></i></a></li>
                                                <li class="pt-share"><a href="#" title=""><i class="fa fa-pinterest"></i></a></li>
                                                <li class="fb-share"><a href="#" title=""><i class="fa fa-facebook"></i></a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <a href="#" title="">Preview</a>
                        </div><!-- post featured one -->
                    </li>
                    <li>
                        <div class="post-featured1">
                            <img src="~/Content/images/resource/f1.jpg" alt="" />
                            <div class="post-featured-infobox">
                                <div class="post-featured-title1">
                                    <h3><a href="#" title="">How to find some new Creative</a></h3>
                                    <div class="quick-metas">
                                        <ul>
                                            <li><a href="#" title=""><i class="fa fa-heart-o"></i>284</a></li>
                                            <li><a href="#" title=""><i class="fa fa-comment-o"></i>2 Comments</a></li>
                                        </ul>
                                        <div class="quick-post-share">
                                            <span><i class="fa fa-share-alt"></i></span>
                                            <ul>
                                                <li class="gl-share"><a href="#" title=""><i class="fa fa-google"></i></a></li>
                                                <li class="tw-share"><a href="#" title=""><i class="fa fa-twitter"></i></a></li>
                                                <li class="pt-share"><a href="#" title=""><i class="fa fa-pinterest"></i></a></li>
                                                <li class="fb-share"><a href="#" title=""><i class="fa fa-facebook"></i></a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <a href="#" title="">Preview</a>
                        </div><!-- post featured one -->
                    </li>




                </ul>
            </div><!-- post Featured Slick -->

        </div>
    </div>
</section>


<section class="block remove-top">
    <div class="container">
        <div class="row">
            <div class="col-md-8 column">



                <div class="blog-sec10">
                    <div class="row">


                        <div class="col-md-12">
                            <div class="post-style10">
                                <div class="post-thumb10">
                                    <a href="#" title=""><img src="~/Content/images/resource/blog-master1.jpg" alt="" /></a>
                                </div>
                                <div class="post-detail10">
                                    <div class="post-author-share-post">
                                        <div class="posted-by">
                                            <h5>
                                                <a href="#" title=""><img src="~/Content/images/resource/author.jpg" alt="" /></a><i>Posted By :</i>
                                                <a href="#"
                                                   title="">Admin</a>
                                            </h5>
                                        </div>
                                        <div class="quick-post-share">
                                            <span><i class="fa fa-share-alt"></i></span>
                                            <ul>
                                                <li class="gl-share"><a href="#" title=""><i class="fa fa-google"></i></a></li>
                                                <li class="tw-share"><a href="#" title=""><i class="fa fa-twitter"></i></a></li>
                                                <li class="pt-share"><a href="#" title=""><i class="fa fa-pinterest"></i></a></li>
                                                <li class="fb-share"><a href="#" title=""><i class="fa fa-facebook"></i></a></li>
                                            </ul>
                                        </div>
                                    </div><!-- Post author share -->
                                    <div class="quick-metas">
                                        <ul>
                                            <li><a href="#" title=""><i class="fa fa-heart-o"></i>Likes : 284</a></li>
                                            <li><a href="#" title=""><i class="fa fa-comment-o"></i>Comments : 42</a></li>
                                        </ul>
                                    </div>
                                    <a href="#" title="">Read More</a>
                                </div>
                                <div class="post-info10">
                                    <div class="post-date">
                                        <a href="#" title="">August 28, 2016</a>
                                    </div>
                                    <h2><a href="#" title="">A balanced composit feels right</a></h2>
                                    <p>
                                        Signs open, creepeth second void unto sixth i fly gathered fruitful stars Fourth evening there man so
                                        together god.
                                    </p>
                                </div>
                            </div><!-- post style 10 -->
                        </div>
                        <div class="col-md-12">
                            <div class="ad left no-margin-bottom">
                                <a href="#" title=""><img src="~/Content/images/resource/ad1.jpg" alt="" /></a>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="post-style10">
                                <div class="post-thumb10">
                                    <a href="#" title=""><img src="~/Content/images/resource/blog-master2.jpg" alt="" /></a>
                                </div>
                                <div class="post-detail10">
                                    <div class="post-author-share-post">
                                        <div class="posted-by">
                                            <h5>
                                                <a href="#" title=""><img src="~/Content/images/resource/author.jpg" alt="" /></a><i>Posted By :</i>
                                                <a href="#"
                                                   title="">Admin</a>
                                            </h5>
                                        </div>
                                        <div class="quick-post-share">
                                            <span><i class="fa fa-share-alt"></i></span>
                                            <ul>
                                                <li class="gl-share"><a href="#" title=""><i class="fa fa-google"></i></a></li>
                                                <li class="tw-share"><a href="#" title=""><i class="fa fa-twitter"></i></a></li>
                                                <li class="pt-share"><a href="#" title=""><i class="fa fa-pinterest"></i></a></li>
                                                <li class="fb-share"><a href="#" title=""><i class="fa fa-facebook"></i></a></li>
                                            </ul>
                                        </div>
                                    </div><!-- Post author share -->
                                    <div class="quick-metas">
                                        <ul>
                                            <li><a href="#" title=""><i class="fa fa-heart-o"></i>Likes : 284</a></li>
                                            <li><a href="#" title=""><i class="fa fa-comment-o"></i>Comments : 42</a></li>
                                        </ul>
                                    </div>
                                    <a href="#" title="">Read More</a>
                                </div>
                                <div class="post-info10">
                                    <div class="post-date">
                                        <a href="#" title="">August 28, 2016</a>
                                    </div>
                                    <h2><a href="#" title="">A balanced composit feels right</a></h2>
                                    <p>
                                        Signs open, creepeth second void unto sixth i fly gathered fruitful stars Fourth evening there man so
                                        together god.
                                    </p>
                                </div>
                            </div><!-- post style 10 -->
                        </div>
                        <div class="col-md-12">
                            <div class="post-style10">
                                <div class="post-thumb10">
                                    <a href="#" title=""><img src="~/Content/images/resource/blog-master1.jpg" alt="" /></a>
                                </div>
                                <div class="post-detail10">
                                    <div class="post-author-share-post">
                                        <div class="posted-by">
                                            <h5>
                                                <a href="#" title=""><img src="~/Content/images/resource/author.jpg" alt="" /></a><i>Posted By :</i>
                                                <a href="#"
                                                   title="">Admin</a>
                                            </h5>
                                        </div>
                                        <div class="quick-post-share">
                                            <span><i class="fa fa-share-alt"></i></span>
                                            <ul>
                                                <li class="gl-share"><a href="#" title=""><i class="fa fa-google"></i></a></li>
                                                <li class="tw-share"><a href="#" title=""><i class="fa fa-twitter"></i></a></li>
                                                <li class="pt-share"><a href="#" title=""><i class="fa fa-pinterest"></i></a></li>
                                                <li class="fb-share"><a href="#" title=""><i class="fa fa-facebook"></i></a></li>
                                            </ul>
                                        </div>
                                    </div><!-- Post author share -->
                                    <div class="quick-metas">
                                        <ul>
                                            <li><a href="#" title=""><i class="fa fa-heart-o"></i>Likes : 284</a></li>
                                            <li><a href="#" title=""><i class="fa fa-comment-o"></i>Comments : 42</a></li>
                                        </ul>
                                    </div>
                                    <a href="#" title="">Read More</a>
                                </div>
                                <div class="post-info10">
                                    <div class="post-date">
                                        <a href="#" title="">August 28, 2016</a>
                                    </div>
                                    <h2><a href="#" title="">A balanced composit feels right</a></h2>
                                    <p>
                                        Signs open, creepeth second void unto sixth i fly gathered fruitful stars Fourth evening there man so
                                        together god.
                                    </p>
                                </div>
                            </div><!-- post style 10 -->
                        </div>
                    </div>
                </div>


                <div class="pagination">
                    <ul>
                        <li class="prev"><a href="#">Prev</a></li>
                        <li><a href="#">1</a></li>
                        <li class="active"><a href="#">2</a></li>
                        <li><a href="#">3</a></li>
                        <li><a href="#">4</a></li>
                        <li><a href="#">5</a></li>
                        <li><span class="delimeter">...</span></li>
                        <li><a href="#">8</a></li>
                        <li class="next"><a href="#">Next</a></li>
                    </ul>
                </div>


            </div>
            <div class="col-md-4 column">
                <aside>
                    <div class="widget admin_widget">
                        <div class="mini-title">
                            <h3>About Admin</h3>
                        </div><!-- Mini Title -->
                        <div class="admin-widget-box">
                            <img src="~/Content/images/resource/admin.jpg" alt="" />
                            <div class="admin-widget-info">
                                <h3>MARK HENZUBI</h3>
                                <span>Web Content Designer</span>
                                <p>The gold rose vine graphic I used on her homepage buttons are repeated</p>
                            </div>
                        </div>
                    </div><!-- Admin Widget -->
                    <div class="widget post_widget">
                        <div class="mini-title">
                            <h3>Quick Post</h3>
                        </div><!-- Mini Title -->
                        <div class="post-tabs">
                            <ul class="nav nav-tabs">
                                <li class="active"><a data-toggle="tab" href="#popular">Popular</a></li>
                                <li><a data-toggle="tab" href="#recent">Recent</a></li>
                            </ul>
                            <div class="tab-content">
                                <div id="popular" class="tab-pane fade in active">
                                    <div class="mini-post">
                                        <div class="mini-post-thumb">
                                            <a href="#" title=""><img src="~/Content/images/resource/mini1.jpg" alt="" /></a>
                                        </div>
                                        <div class="mini-post-info">
                                            <h3><a href="#" title="">While not as custom ability as two known</a></h3>
                                            <div class="quick-metas">
                                                <ul>
                                                    <li><a href="#" title=""><i class="fa fa-heart-o"></i>284</a></li>
                                                    <li><a href="#" title=""><i class="fa fa-comment-o"></i>2 Comments</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div><!-- Mini Post -->
                                    <div class="mini-post">
                                        <div class="mini-post-thumb">
                                            <a href="#" title=""><img src="~/Content/images/resource/mini2.jpg" alt="" /></a>
                                        </div>
                                        <div class="mini-post-info">
                                            <h3><a href="#" title="">Designers attempting to creating work</a></h3>
                                            <div class="quick-metas">
                                                <ul>
                                                    <li><a href="#" title=""><i class="fa fa-heart-o"></i>284</a></li>
                                                    <li><a href="#" title=""><i class="fa fa-comment-o"></i>2 Comments</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div><!-- Mini Post -->
                                    <div class="mini-post">
                                        <div class="mini-post-thumb">
                                            <a href="#" title=""><img src="~/Content/images/resource/mini3.jpg" alt="" /></a>
                                        </div>
                                        <div class="mini-post-info">
                                            <h3><a href="#" title="">A Photographer from UK is doing hard</a></h3>
                                            <div class="quick-metas">
                                                <ul>
                                                    <li><a href="#" title=""><i class="fa fa-heart-o"></i>284</a></li>
                                                    <li><a href="#" title=""><i class="fa fa-comment-o"></i>2 Comments</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div><!-- Mini Post -->
                                </div>
                                <div id="recent" class="tab-pane fade">
                                    <div class="mini-post">
                                        <div class="mini-post-thumb">
                                            <a href="#" title=""><img src="~/Content/images/resource/mini4.jpg" alt="" /></a>
                                        </div>
                                        <div class="mini-post-info">
                                            <h3><a href="#" title="">While not as custom able as two</a></h3>
                                            <div class="quick-metas">
                                                <ul>
                                                    <li><a href="#" title=""><i class="fa fa-heart-o"></i>284</a></li>
                                                    <li><a href="#" title=""><i class="fa fa-comment-o"></i>2 Comments</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div><!-- Mini Post -->
                                    <div class="mini-post">
                                        <div class="mini-post-thumb">
                                            <a href="#" title=""><img src="~/Content/images/resource/mini5.jpg" alt="" /></a>
                                        </div>
                                        <div class="mini-post-info">
                                            <h3><a href="#" title="">Designers attempting to creating work</a></h3>
                                            <div class="quick-metas">
                                                <ul>
                                                    <li><a href="#" title=""><i class="fa fa-heart-o"></i>284</a></li>
                                                    <li><a href="#" title=""><i class="fa fa-comment-o"></i>2 Comments</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div><!-- Mini Post -->
                                    <div class="mini-post">
                                        <div class="mini-post-thumb">
                                            <a href="#" title=""><img src="~/Content/images/resource/mini6.jpg" alt="" /></a>
                                        </div>
                                        <div class="mini-post-info">
                                            <h3><a href="#" title="">A Photographer from UK is doing hard</a></h3>
                                            <div class="quick-metas">
                                                <ul>
                                                    <li><a href="#" title=""><i class="fa fa-heart-o"></i>284</a></li>
                                                    <li><a href="#" title=""><i class="fa fa-comment-o"></i>2 Comments</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div><!-- Mini Post -->
                                </div>
                            </div>
                        </div>
                    </div><!-- Widget Post Widget -->
                    <div class="widget follow_widget">
                        <div class="mini-title">
                            <h3>Follow Us</h3>
                        </div><!-- Mini Title -->
                        <div class="follow-us-sec">
                            <a href="#" title="" class="facebook"><i class="fa fa-facebook"></i></a>
                            <a href="#" title="" class="twitter"><i class="fa fa-twitter"></i></a>
                            <a href="#" title="" class="google-plus"><i class="fa fa-google-plus"></i></a>
                            <a href="#" title="" class="tumblr"><i class="fa fa-tumblr"></i></a>
                        </div>
                    </div><!-- Follow Us Widget -->
                    <div class="widget visitpost_widget">
                        <div class="mini-title">
                            <h3>Most Visited Posts</h3>
                        </div><!-- Mini Title -->
                        <div class="visited-post-sec">
                            <div class="visited-post">
                                <a href="#" title=""><img src="~/Content/images/resource/visit1.jpg" alt="" /></a>
                                <h4><a href="#" title="">While not as custom able as two</a></h4>
                                <div class="quick-metas">
                                    <ul>
                                        <li><a href="#" title=""><i class="fa fa-heart-o"></i>284</a></li>
                                        <li><a href="#" title=""><i class="fa fa-comment-o"></i>2 Comments</a></li>
                                    </ul>
                                </div>
                            </div><!-- Visited Post -->
                            <div class="visited-post">
                                <a href="#" title=""><img src="~/Content/images/resource/visit2.jpg" alt="" /></a>
                                <h4><a href="#" title="">The Black n White goto there</a></h4>
                                <div class="quick-metas">
                                    <ul>
                                        <li><a href="#" title=""><i class="fa fa-heart-o"></i>284</a></li>
                                        <li><a href="#" title=""><i class="fa fa-comment-o"></i>2 Comments</a></li>
                                    </ul>
                                </div>
                            </div><!-- Visited Post -->
                        </div>
                    </div><!-- Most Visited Post Widget -->
                </aside>
            </div>
        </div>
    </div>
</section>


